{% extends 'person/enseingant.html' %}
{% load  static %}

{% block content %}


<div id="right_bar">
<table>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Matiere</th>
        <th>Note TD</th>
        <th>Note TP</th>
        <th>Note Cours</th>
        <th>Note Examen</th>
        <th>Moyenne</th>
    </tr>

        {% for object in object_list %}
    <tr>
           <th>{{ object.etudiant.nom }}</th>
           <th>{{ object.etudiant.prenom }}</th>
           <th>{{ object.matierre.matierre }}</th>
           <th>{{ object.note_td }}</th>
           <th>{{ object.note_tp }}</th>
           <th>{{ object.note_cour }}</th>
           <th>{{ object.note_examen }}</th>
           <th>{{ object.moyenne }}</th>
    </tr>
        {% endfor %}

</table>
</div>
{% endblock %}
