{% extends 'person/enseingant.html' %}
{% load  static %}

{% block content %}


<div id="right_bar">
<table>
    <tr>
        <th>CPC</th>
        <th>Date</th>
    </tr>
    <tr>
        <th>CPC 1</th>
        <th>19/10/2018</th>
    </tr>
    <tr>
        <th>CPC 2</th>
        <th>18/11/2018</th>
    </tr>
    <tr>
        <th>CPC 3</th>
        <th>29/11/2018</th>
    </tr>
    <tr>
        <th>CPC 4</th>
        <th>15/12/2018</th>
    </tr>

</table>
</div>
{% endblock %}
