{% extends 'person/enseingant.html' %}
{% load  static %}

{% block content %}


<div id="right_bar">
<table>
    <tr>
        <th>CPC</th>
        <th>Date</th>
    </tr>
    <tr>
        <th>CPC 1</th>
        <th>15/1/2018</th>
    </tr>
    <tr>
        <th>CPC 2</th>
        <th>12/2/2018</th>
    </tr>
    <tr>
        <th>CPC 3</th>
        <th>19/3/2018</th>
    </tr>
    <tr>
        <th>CPC 4</th>
        <th>25/4/2018</th>
    </tr>

</table>
</div>
{% endblock %}
